// /*--------------------------------------------------------------
// # Content
// --------------------------------------------------------------*/
//header
.site-header {
  position: absolute;
  width: 100%;
  z-index: 99;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}
.fixed-header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #e1e1e1;
  input[type='search'] {
    &::placeholder {
      color: #666;
      caret-color: #2f1339;
    }
  }
  .fa {
    color: #248a83 !important;
    text-shadow: none !important;
  }
  .main-navigation {
    a {
      color: #248a83;
      text-shadow: none;
      &:hover {
        color: #2f1339;
      }
    }
  }
}
.simple-header {
  @extend .fixed-header;
  .green-header-logo {
    display: block;
  }
  .white-header-logo {
    display: none;
  }
  .fa {
    color: #248a83;
  }
}
.green-header-logo {
  width: 50px;
  height: 33px;
  position: absolute;
  display: none;
  margin-left: 11vw;
}
.white-header-logo {
  width: 50px;
  height: 33px;
  margin-left: 11vw;
  position: absolute;
}
.banner-image {
  height: 100vh;
  min-width: 100vw;
  position: relative;

  h1 {
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Novecento Sans Web', sans-serif;
    left: 44.5%;
    top: 40%;
  }
}
.full-logo {
  transform: translateY(75%);
}
.nav-menu {
  display: flex;
  margin-right: 11vw;
}
//front page
.fp-title {
  font-size: 2.4rem;
  font-family: 'Novecento Sans Web', sans-serif;
  font-weight: 400;
  color: #2f1339;
  text-transform: uppercase;
  margin: 3rem 0;
}
.product-nav-container {
  width: 1150px;
  margin: 0 auto;
}
.journal-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.journal-container {
  width: 360px;
  height: 415px;
  border: gray 1px solid;
  list-style-type: none;
  margin: 0 0.8rem;
  border: 1px solid #e1e1e1;
  text-align: left;
  position: relative;
}
.journal-image {
  width: 360px;
  height: 250px;
  overflow: hidden;
  border-bottom: 5px solid #e1e1e1;
  img {
    height: 100%;
  }
}
.journal-meta {
  font-size: 0.75rem;
  margin-top: 1.1rem;
  margin-bottom: 0.1rem;
}
.fp-journal-content {
  margin-left: 0.9rem;
}
.fp-journal-title {
  a {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: 'Novecento Sans Web', sans-serif;
    color: #248a83;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 2px;
    text-decoration: none;
    &:hover {
      color: #2f1339;
    }
  }
}
.link-icon {
  margin-right: 0.3rem;
}

//buttons
.read-entry {
  position: absolute;
  top: 89%;
  left: 3%;
  a {
    font-size: 0.9rem;
    font-family: 'Novecento Sans Web', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border: 1px black solid;
    padding: 0.75rem 1.5rem;
    &:hover {
      color: white;
      border-color: #248a83;
      background: #248a83;
    }
  }
}
.read-more {
  @extend .read-entry;
  position: relative;
  width: 50%;
  text-align: left;
  top: 0;
  left: 0;
  margin-bottom: 4rem;
}
.reverse-read-more {
  @extend .read-more;
  width: auto;
  margin-top: 1rem;
  a {
    color: white;
    border: 1px white solid;
    &:hover {
      border-color: #248a83;
      background: #248a83;
    }
  }
}
.green-read-more {
  @extend .read-more;
  margin-top: 2rem;
  margin-left: 7.7rem;
  position: relative;
  a {
    font-size: 1.2rem;
    color: white;
    background-color: #248a83;
    border: 1px #248a83 solid;
    &:hover {
      background-color: #19625d;
      border: 1px #19625d solid;
    }
  }
}
.like-tweet-pin {
  @extend .read-entry;
  display: inline;
  position: relative;
  top: 0;
  left: 0;
}

//search
input[type='search'] {
  border: none;
  outline: none;
  caret-color: white;
}
.search-field {
  background: none;
  width: 180px;
  display: none;
  &::placeholder {
    color: white;
    font-size: 1rem;
    font-family: 'Novecento Sans Web', sans-serif;
    text-transform: uppercase;
  }
}
.icon-search {
  text-decoration: none;
  .fa {
    color: white;
    text-shadow: 1px 1px 2px #323232;
    &:hover {
      color: #f0e4d1;
    }
  }
}
.product-type-blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  p {
    line-height: 1.75;
  }
}
.product-type-block-wrapper {
  width: 23.5%;
  border: 1px #e1e1e1 solid;
  border-top-width: 5px;
  padding: 0.75rem;
  margin: 0 0.75rem;
  &:hover {
    border-color: #d99054;
  }
  img {
    width: 70px;
    height: 70px;
    margin-bottom: 1.25rem;
  }
  a {
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Novecento Sans Web', sans-serif;
    text-transform: uppercase;
    background: #248a83;
    padding: 0.75rem 1.5rem;
    color: white;
    &:hover {
      background: #19625d;
    }
  }
}
.entry-header {
  display: block;
  position: relative;
  img {
    width: 100%;
  }
  .entry-title {
    position: absolute;
    background: #248a83;
    top: 40px;
    padding: 1rem 1rem;
    max-width: 570px;
    text-decoration: none;
    text-transform: uppercase;
    color: $color__text-journal-title;
    font-family: 'Novecento Sans Web', sans-serif;
    font-size: 2.1rem;
    letter-spacing: 2px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
    a {
      display: inline-block;
      text-decoration: none;
      color: $color__text-journal-title;
      font-family: 'Novecento Sans Web', sans-serif;
      font-size: 2.1rem;
      width: 100%;
      letter-spacing: 2px;
      text-align: left;
      font-weight: bold;
      line-height: 1.25;
      margin-right: 3rem;
      &:hover {
        color: #f0e4d1;
      }
    }
  }
  .entry-meta {
    right: 0;
    position: absolute;
    background: #248a83;
    color: $color__text-journal-title;
    bottom: 8px;
    font-family: 'Novecento Sans Web';
    text-transform: uppercase;
    padding: 0.2rem 1.5rem;
    a {
      bottom: 8px;
      text-decoration: none;
      color: white;
      &:hover {
        color: #f0e4d1;
      }
    }
  }
}
.entry-content {
  text-align: left;
  line-height: 1.75;
}
.entry-footer {
  font-family: 'Novecento Sans Web', sans-serif;
  text-transform: uppercase;
  text-align: left;
  a {
    text-decoration: none;
    color: #248a83;
    &:hover {
      color: #2f1339;
    }
  }
}
.journal-post-buttons {
  text-align: left;
  margin-bottom: 5rem;
}
.tags-links {
  margin-left: 2rem;
}
.site-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.content-area {
  align-items: center;
  text-align: center;
  flex-basis: 70%;
  margin-top: 3rem;
}
.fp-content-area {
  margin: 0;
}
.widget-area {
  flex-basis: 30%;
  border-left: 1px solid #e1e1e1;
  padding-left: 3rem;
  padding-top: 2rem;
  margin-top: 3rem;
}
.widget-title {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.day-of-week {
  font-weight: bold;
}

/* Posts and pages */
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}

/* Footer */
.site-footer {
  background-color: black;
  background-image: url('../../assets/images/dark-wood@2x.png');
  background-size: 512px 512px;
  height: 355px;
  width: 100vw;
}
.site-info {
  padding-top: 4rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 4rem;
  p {
    color: $color__footer-text;
  }
}
.footer-title {
  font-family: 'Novecento Sans Web', sans-serif;
  color: $color__footer-title;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.15;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
.footer-logo {
  width: 285px;
  flex-basis: 50%;
  margin-left: 10rem;
}
.contact-section {
  line-height: 1.15;
  padding-left: 4rem;
  flex-basis: 25%;
}
.contact-info {
  display: flex;
  p {
    padding-left: 5px;
  }
}
.business-hours {
  line-height: 1.15;
  flex-basis: 25%;
  padding-left: 3rem;
}
.copyright {
  font-family: 'Novecento Sans Web', sans-serif;
  color: $color__text-journal-title;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 75px;
}
.footer-icon {
  color: white;
  font-size: 1.3rem;
}
.social-media-icon {
  display: flex;
  justify-content: flex-start;
  i {
    margin-right: 10px;
  }
}

//product
.product-archive-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  width: 1120px;
  margin: 3rem 0;
}
.product-archive-container {
  border: 1px #e1e1e1 solid;
  width: 260px;
  margin: 0 auto;
}
.product-image {
  height: 250px;
  width: 260px;
  overflow: hidden;
  border-bottom: 5px #e1e1e1 solid;
  img {
    height: 250px;
    width: auto;
    object-fit: cover;
  }
}
.archive-header {
  width: 1120px;
  border-bottom: dashed 1px #e1e1e1;
  margin: 0 auto;
}
.product-archive-title {
  font-size: 2.4rem;
  color: #404040;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 3rem;
  margin: 0 auto;
}
.product-info {
  color: #2f1339;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  padding: 0 1rem;
  margin: 0.75rem 0;
}
.archive-price {
  color: #404040;
  position: relative;
  background: white;
  float: right;
  padding-left: 0.5rem;
  margin-bottom: 0;
  font-size: 0.9rem;
}
.archive-product-title {
  background: white;
  overflow: hidden;
  padding-right: 0.5rem;
  margin-bottom: 0;
  &::before {
    content: '.........................................................';
    position: absolute;
    float: left;
    z-index: -1;
  }
}
.product-type-blocks {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  width: 100%;
}
.product-type-description {
  p {
    margin-bottom: 3rem;
  }
}
.product-type-link {
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #248a83;
    font-family: 'Novecento Sans Web', sans-serif;
    font-size: 1.2rem;
    padding: 0 1.5rem;
  }
}
.single-product-image {
  width: 540px;
}
.single-product-title {
  text-transform: uppercase;
  color: #d99054;
  font-family: 'Novecento Sans Web', sans-serif;
  letter-spacing: 2px;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.single-price {
  color: #404040;
  font-size: 1.8rem;
  font-family: 'Novecento Sans Web', sans-serif;
}
.product-single-container {
  display: flex;
  width: 1120px;
  justify-content: space-between;
  margin-top: 6rem;
  margin-bottom: 9rem;
}
.product-content {
  width: 540px;
  text-align: left;
}
.product-description {
  line-height: 1.75;
}
.sb-icon {
  margin-right: 20px;
}
.sb-info-container {
  display: flex;
  flex-direction: row;
}

.widget {
  margin-bottom: 3rem;
  ul {
    list-style-type: none;
    margin-left: 0;
    a {
      text-decoration: none;
      color: #248a83;
    }
  }
}

.journal-posts-container {
  width: 760px;
  padding-top: 3rem;
  margin: 0 auto;
  margin-right: 3.5rem;
}
//adventure
.fp-adventure-section {
  width: 1120px;
  height: 550px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 2fr;
  grid-gap: 20px 20px;
}
.archive-adventure-section {
  height: 1120px;
  margin-top: 3rem;
  margin-bottom: 7rem;
}
.fp-adventure-container {
  position: relative;
  list-style-type: none;
  &:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    font-size: 3rem;
  }
  &:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    font-size: 2.4rem;
  }
  &:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-size: 1.6rem;
  }
  &:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    font-size: 1.6rem;
  }
}
.archive-adventure-container {
  &:nth-child(2) {
    grid-row: 1/3;
    font-size: 3rem;
  }
  &:nth-child(3) {
    grid-column: 1/3;
    grid-row: 3/5;
    font-size: 3rem;
  }
  &:nth-child(4) {
    grid-column: 3/5;
    grid-row: 3/5;
    font-size: 3rem;
  }
}
.adventure-title-info {
  position: absolute;
  text-align: left;
  top: 2.5rem;
  left: 1.5rem;
}
.adventure-image {
  width: 100%;
  height: 100%;
}
.fp-adventure-title {
  line-height: 1;
  a {
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    width: 85%;
    text-decoration: none;
    &:hover {
      color: #f0e4d1;
    }
  }
}
.archive-adventure-title {
  width: 80%;
}

//comments
.comments-area {
  text-align: left;
}
.comment-list {
  margin-left: 0;
}
.comment-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  p {
    margin: 0;
  }
}
.comment-body {
  display: flex;
  height: 165px;
  margin-top: 1rem;
  margin-bottom: -1rem;
}
.comment-author-avatar {
  margin-right: 1.5rem;
  img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
  }
}
.comments-title {
  font-size: 2.1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.fn {
  font-family: 'Merriweather Web', sans-serif;
  font-style: normal;
  font-weight: bold;
}
.comment-metadata {
  color: gray;
  a {
    text-decoration: none;
    color: #248a83;
    &:hover {
      color: #2f1339;
    }
  }
}
.reply {
  margin-bottom: 1rem;
}
.comment-reply-link {
  text-decoration: none;
  color: #248a83;
  &:hover {
    color: #2f1339;
  }
}
.comment-list > li {
  border-bottom: 1px solid #e1e1e1;
}
.children {
  margin-left: 4rem;
  li {
    border-top: 1px solid #e1e1e1;
  }
}
.comment-reply-title {
  font-size: 1.8rem;
  font-family: 'Novecento Sans Web', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}
label {
  color: #2f1339;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: 'Novecento Sans Web', sans-serif;
}
.required {
  color: #d99054;
}
input[type='submit'] {
  background: #248a83;
  border: #248a83;
  border-radius: 0;
  color: white;
  text-transform: uppercase;
  text-shadow: none;
  box-shadow: none;
  font-size: 0.9rem;
  padding: 0.75rem 1.5rem;
  &:hover {
    background: #19625d;
    border: #19625d;
    text-shadow: none;
    box-shadow: none;
  }
  &:focus {
    outline: none;
  }
}
.comment-notes {
  margin-top: 1.5rem;
  width: 100%;
}

textarea,
input[type='text'],
input[type='email'],
input[type='url'] {
  color: #666;
  background: #f4f4f4;
  border: 1px solid #e1e1e1;
  outline: none;
  font-family: 'Merriweather Web', sans-serif;
  width: 100%;
  margin-top: 0.5rem;
}

.comment-form-cookies-consent {
  display: none;
}
.comment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.comment-form-comment {
  margin-bottom: 3rem;
}
.comment-notes,
.comment-form-comment,
.comment-form-url,
.submit-form {
  width: 100%;
}
.comment-form-author,
.comment-form-email {
  width: 48%;
}

//about page
.about-content {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 5rem;
  h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.1rem;
    margin: 1rem 0;
  }
  p {
    text-align: left;
  }
}
.hero-image {
  margin-bottom: 2.5rem;
}

//contact
.find-us-container {
  @extend .journal-posts-container;
  text-align: left;
}
.find-us-title {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family: 'Novecento Sans Web', sans-serif;
  font-weight: bold;
  padding-bottom: 1rem;
}
.find-us-content {
  h2 {
    @extend .find-us-title;
    font-size: 2.1rem;
    padding-top: 1rem;
  }
  p {
    margin: 0;
  }
}
.contact-textarea {
  text-align: left;
}
.contact-submit-button {
  margin-top: 1rem;
}
.your-name,
.your-email,
.your-subject {
  input[type='text'],
  input[type='email'] {
    width: 380px;
    height: 40px;
    margin-bottom: 1.5rem;
  }
}
.your-message {
  textarea {
    height: 285px;
  }
}
.wpcf7-submit {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

figure {
  margin: 0;
}

//search
.search-main {
  width: 760px;
  text-align: left;
  margin: 0 auto;
  padding-top: 3rem;
  margin-right: 3.5rem;
}
.search-title {
  text-transform: uppercase;
  color: #404040;
  font-family: 'Novecento Sans Web', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  border-bottom: 1px solid #e1e1e1;
  letter-spacing: 2px;
}
.search-post-title {
  a {
    @extend .search-title;
    border: none;
    font-size: 2.1rem;
    color: #248a83;
    text-decoration: none;
    &:hover {
      color: #2f1339;
    }
  }
}
.page-numbers {
  color: white;
  font-family: 'Novecento Sans Web', sans-serif;
  text-decoration: none;
  background: #248a83;
  padding: 0.4rem 0.85rem;
  margin-right: 0.25rem;
  &:hover {
    color: white;
    background: #2f1339;
  }
}
.current {
  background: gray;
  &:hover {
    background: gray;
  }
}
.search-number-nav {
  border-top: 1px solid #e1e1e1;
  padding-top: 1.5rem;
  margin-bottom: 4.5rem;
}

//404
.main-404 {
  @extend .search-main;
}
.title-404 {
  @extend .search-title;
  border: none;
}
.content-404 {
  p {
    margin: 0;
  }
}
.widgettitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.widget-title {
  @extend .widgettitle;
}

.search-404 {
  .search-form {
    .icon-search {
      display: none;
    }
  }
  input[type='search'] {
    width: 200px;
    padding: 1.5rem 0;
    &::placeholder {
      text-transform: none;
      font-family: 'Merriweather Web', sans-serif;
      color: #666;
      border: 1px solid #e1e1e1;
      background: #f4f4f4;
      padding: 0.5rem 1rem 0.5rem 0.25rem;
      caret-color: white;
      text-align: left;
    }
  }
}

//post-adventure
.post-adventure-title {
  @extend .title-404;
  text-align: left;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}
.post-adventure-author {
  @extend .title-404;
  text-align: left;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.logged-in-as {
  a {
    text-decoration: none;
    color: #248a83;
    &:hover {
      color: #2f1339;
    }
  }
}

.footer-link {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}
.sidebar-link {
  text-decoration: none;
  color: #248a83;
  &:hover {
    color: #2f1339;
    text-decoration: none;
  }
}
