// /*--------------------------------------------------------------
// # Content
// --------------------------------------------------------------*/
.site-header {
  position: relative;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #e1e1e1;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.fixed-header {
  position: relative;
}
.green-header-logo {
  width: 50px;
  height: 33px;
  position: absolute;
  //   display: none;
  margin-left: 30px;
}
.white-header-logo {
  width: 50px;
  height: 33px;
  position: absolute;
  //   display: none;
}

.banner-image {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.full-logo {
  transform: translateY(75%);
}
.fp-title {
  font-size: 2.4rem;
  font-family: 'Novecento Sans Web', sans-serif;
  font-weight: 400;
  color: #2f1339;
  text-transform: uppercase;
  margin: 3rem 0;
}
.journal-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.journal-container {
  width: 360px;
  height: 415px;
  border: gray 1px solid;
  list-style-type: none;
  margin: 0 0.8rem;
  border: 1px solid #e1e1e1;
  text-align: left;
  position: relative;
}
.journal-image {
  width: 360px;
  height: 250px;
  overflow: hidden;
  border-bottom: 5px solid #e1e1e1;
  img {
    height: 100%;
  }
}
.journal-meta {
  font-size: 0.75rem;
  margin-top: 1.1rem;
  margin-bottom: 0.1rem;
  margin-left: 0.9rem;
}
.fp-journal-title {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Novecento Sans Web', sans-serif;
  color: #248a83;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 2px;
  margin-left: 0.9rem;
  &:hover {
    color: #2f1339;
  }
}
.read-entry {
  position: absolute;
  top: 89%;
  left: 3%;
  a {
    font-size: 0.9rem;
    font-family: 'Novecento Sans Web', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border: 1px black solid;
    padding: 0.75rem 1.5rem;
    &:hover {
      color: white;
      border-color: #248a83;
      background: #248a83;
    }
  }
}
.read-more {
  @extend .read-entry;
  position: relative;
  width: 50%;
  text-align: left;
  top: 0;
  left: 0;
  margin-bottom: 4rem;
}

.reverse-read-more {
  @extend .read-more;
  width: auto;
  margin-top: 1rem;
  a {
    color: white;
    border: 1px white solid;
    &:hover {
      border-color: #248a83;
      background: #248a83;
    }
  }
}
.green-read-more {
@extend .read-more;
margin-top: 5rem;
position: relative;
  a{
    font-size: 1.2rem;
    color: white;
    background-color: #248a83;
    border: 1px #248a83 solid;
      &:hover {
        background-color: #19625d;
        border: 1px #19625d solid;
      }
    }
}

.nav-menu {
  display: flex;
  margin-right: 30px;
}
/*Search*/
input[type='search'] {
  border: none;
  outline: none;
  // caret-color: white;
  caret-color: #2f1339;
}
.search-field {
  background: none;
  width: 180px;
  &::placeholder {
    // color: #f0e4d1;
    color: #666;
    font-size: 1rem;
    font-family: 'Novecento Sans Web', sans-serif;
  }
}
.search-toggle {
  display: none;
}
.icon-search {
  text-decoration: none;
  .fa {
    color: #248a83;
    &:hover {
      // color: #f0e4d1;
    }
  }
}
.product-type-blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}
.product-type-block-wrapper {
  width: 22%;
  border: 1px #e1e1e1 solid;
  border-top-width: 5px;
  padding: 0.75rem;
  margin: 0 0.75rem;
  &:hover {
    border-color: #d99054;
  }
  img {
    width: 70px;
    height: 70px;
    margin-bottom: 1.25rem;
  }
  a {
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Novecento Sans Web', sans-serif;
    text-transform: uppercase;
    background: #248a83;
    padding: 0.75rem 1.5rem;
    color: white;
    &:hover {
      background: #19625d;
    }
  }
}
.product-image {
  width: 20%;
}
.entry-header {
  display: block;
  position: relative;
  img {
    width: 100%;
  }
  .entry-title {
    position: absolute;
    background: #248a83;
    top: 40px;
    padding: 1rem 1rem;
    max-width: 570px;
    a {
      display: inline-block;
      text-decoration: none;
      color: $color__text-journal-title;
      font-family: 'Novecento Sans Web';
      font-size: 2.1rem;
      width: 100%;
      letter-spacing: 2px;
      text-align: left;
      font-weight: bold;
      line-height: 1.25;
      margin-right: 3rem;
      &:hover {
        color: #f0e4d1;
      }
    }
  }
  .entry-meta {
    right: 0;
    position: absolute;
    background: #248a83;
    color: $color__text-journal-title;
    bottom: 6px;
    font-family: 'Novecento Sans Web';
    text-transform: uppercase;
    padding: 0.2rem 1.5rem;
  }
}
.entry-content {
  text-align: left;
}

.site-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.content-area {
  align-items: center;
  text-align: center;
  flex-basis: 70%;
}
.widget-area {
  flex-basis: 30%;
  border-left: 1px solid #e1e1e1;
  padding-left: 3rem;
  padding-top: 2rem;
}
.widget-title {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.day-of-week {
  font-weight: bold;
}

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}

/* Footer */
.site-footer {
  background-color: black;
  background-image: url('../../assets/images/dark-wood@2x.png');
  background-size: 512px 512px;
  height: 355px;
  width: 100vw;
}
.site-info {
  padding-top: 4rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 4rem;
  p {
    color: $color__footer-text;
  }
}
.footer-title {
  font-family: 'Novecento Sans Web', sans-serif;
  color: $color__footer-title;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.15;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
.footer-logo {
  width: 285px;
  flex-basis: 50%;
  margin-left: 10rem;
}
.contact-section {
  line-height: 1.15;
  padding-left: 4rem;
  flex-basis: 25%;
}
.contact-info {
  display: flex;
  p {
    padding-left: 5px;
  }
}
.business-hours {
  line-height: 1.15;
  flex-basis: 25%;
  padding-left: 3rem;
}
.copyright {
  font-family: 'Novecento Sans Web', sans-serif;
  color: $color__text-journal-title;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 75px;
}
.footer-icon {
  color: white;
  font-size: 1.3rem;
}
.social-media-icon {
  display: flex;
  justify-content: flex-start;
  i {
    margin-right: 10px;
  }
}

.product-archive-section {
  display: grid;
grid-template-columns: repeat(4, 1fr);
width: 1120px;
margin: 0 auto;
}
.product-archive-container {
  border: 1px #e1e1e1 solid;
  width: 260px;
  margin: 0 auto;
}
.product-image {
height: 250px;
width: auto;
overflow: hidden;
border-bottom: 5px #e1e1e1 solid;
img {
  height: 250px;
  width: auto;
}
}
.product-archive-title {
  font-size: 2.4rem;
  color: #404040;
  font-weight: bold;
}
.product-title {
  color: #2f1339;
}

.sb-icon {
  margin-right: 20px;
}
.sb-info-container {
  display: flex;
  flex-direction: row;
}

.widget {
  margin-bottom: 3rem;
  ul {
    list-style-type: none;
    margin-left: 0;
    a {
      text-decoration: none;
      color: #248a83;
    }
  }
}

.journal-posts-container {
  width: 760px;
  padding-top: 3rem;
  margin: 0 auto;
  margin-right: 3.5rem;
}
.adventure-section {
  width: 1120px;
  height: 550px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 2fr;
  grid-gap: 20px 20px;
}
.adventure-container {
  position: relative;
  list-style-type: none;
  &:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    font-size: 3rem;
  }
  &:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    font-size: 2.4rem;
  }
  &:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-size: 1.6rem;
  }
  &:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    font-size: 1.6rem;
  }
}
.adventure-title-info {
  position: absolute;
  text-align: left;
  top: 2.5rem;
  left: 1.5rem;
}
.adventure-image {
width: 100%;
height: 100%;
}
.fp-adventure-title {
color: white;
font-weight: 400;
line-height: 1.25;
letter-spacing: 2;
// a {
  &:hover {
    color: #f0e4d1;
  }
// }
}